.innertable{
    /* background-color: rgb(13, 55, 91); */
    /* margin-top: 15%; */
   margin-left: 29%;
}
table{
    background-color: rgb(206, 112, 112);
    width: 100%;
    padding: 0;
}

table td{
    font-size: 1.2rem;
    padding: 0;
}
.btn{
    background-color: #fff;
    color: rgb(197, 114, 114);
    /* padding: 5px 30px; */
    border-radius: 50%;
    text-decoration: none;

}
.btn:hover{
   background: rgb(185, 110, 97);
   color: #ffff;
}
table.center {
    margin-left: auto;
    margin-right: auto;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;

  }
