*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

.sidebar{
    min-height: 100vh;;
    width: 100px;
    background: rgba(239, 121, 85, 0.712);
    overflow:auto;
transition: 0.1;

}
.sidebar:hover{
    width: 300px;
}
.sidebar ul li:hover{
    background: rgb(255, 136, 76);
}